body {
    background-image: url('images/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #436fff;
    background-attachment: fixed;
}

header {
    font-family: 'Times New Roman';
    font-size: xxx-large;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: #436fff;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 3px rgb(12, 0, 182), 1px 0 rgb(0, 0, 0), 0 -2px rgb(255, 255, 255);
    border: 2px #000000;
}

form {
    font-size: larger;
    padding: 50px;
    top: 0;
    left: 0;
}

input {
    color: #000000;
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #84a1ff;
    border-color: #000000;
    border-style: outset;
}

label {
    background-color: #84a1ff;
    border-color: #000000;
    border-style: outset;
    color: #000000;
    text-shadow: 0 0 3px #0d00ff, 0 0 5px #ffffff;
}

table {
    background-color: #436fff;
    font-size: large;
    text-align: center;
    color: #000000;
    text-shadow: 0 0 3px #0d00ff, 0 0 5px #ffffff;
    border-color: #000000;
    border-style: outset;
}