body {
    background-image: url('images/credit-card.jpg');
    background-size: auto;
    background-repeat: initial;
    background-position: top;
    background-color: #436fff;
    background-attachment: fixed;
}

header {
    font-family: 'Times New Roman';
    font-size: xxx-large;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: #436fff;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 3px rgb(12, 0, 182), 1px 0 rgb(0, 0, 0), 0 -2px rgb(255, 255, 255);
    border: 2px #000000;
}

.container {
    background-color: #436fff;
    font-size: medium;
    font-family: 'Arial Narrow';
    color: #000000;
    border: 1px #000000;
    border-style: double;
    text-align: center;
    width: max-content;
}

.scores_container {
    background-color: #436fff;
    left: 0px;
    font-size: larger;
    font-family: 'Arial Narrow';
    color: #000000;
    border: 1px #000000;
    border-style: double;
    text-align: center;
    width: 100%;
}

.info {
    background-color: #436fff;
    left: 0px;
    font-size: small;
    font-family: 'Arial Narrow';
    color: #000000;
    border: 1px #000000;
    border-style: double;
    text-align: left;
    width: 100%;
}

.desc {
    background-color: #436fff;
    left: 0;
    font-size: larger;
    font-family: sans-serif;
    color: #000000;
    text-align: left;
    width: 100%;
}

.download_csv {
    background-color: #436fff;
    left: 0;
    font-size: larger;
    color: #000000;
    text-shadow: 1px 1px 5px #aabeff;
    text-align: center;
    width: max-content;
}