<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Credit Card Payment</title>
</head>

<body>
    <header><h1>Excel data</h1></header>

    <form action="/multi_entry" method='POST' enctype="multipart/form-data">
        <label class="csv_tag">Multi Entry:</label>
        <br>
        <div class="entry">
            <!--upload csv-->
            <label for="file" class="csv_tag">Upload Excel or csv File</label>
            <input type="file" name="file" id="file" class="upload_csv" required>
            <input type="submit" value="Upload" class="csv_submit">
        </div>
    </form>
</body>